/* colors
background-blue : #00509D 
yellow : #FFD500
light-blue : #CAF0F8
light blue gradient : linear-gradient(#caf0f8, #00b4d8);
yellow-green gradient : linear-gradient(#FDC500, #76C893);
*/

/*---------------------- Global style --------------------------------*/
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  /* Putting default font-size to 10px */
  font-size: 0.625em; /* fallback IE8+ */
  font-size: calc(
    1em * 0.625
  ); /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  scroll-behavior: smooth;
}

body {
  background-color: #00509d;
  font-family: 'Inter';
  font-size: 1.6em; /* base font-size is equivalent "14px" */
  --dark-blue: #00509d;
  --yellow: #ffd500;
  --light-blue: #caf0f8;
  --light-blue-gradient: linear-gradient(#caf0f8, #caf0f8, #00b4d8);
  --yellow-green-gradient: linear-gradient(#fdc500, #76c893);
}

article {
  color: white;
}
section {
  min-height: 100vh;
  position: relative;
}

/*---------------------- Titles --------------------------------*/
.very-big-title {
  font-size: clamp(5rem, 7vw, 7.2rem);
  font-weight: bold;
  background: -webkit-linear-gradient(
    #ffffff,
    #caf0f8 25%,
    #caf0f8 75%,
    #00b4d8
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.h2-resume {
  background: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--yellow);
  font-size: clamp(1.34rem, 3vw, 3rem);
}
h2 {
  font-size: clamp(2rem, 3vw, 5rem);
  margin: 0.2em 0;
  background: -webkit-linear-gradient(
    #ffffff,
    #caf0f8 25%,
    #caf0f8 40%,
    #00b4d8
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Lemonada';
  font-weight: 400;
}

/*---------------------- Header --------------------------------*/

.header-page {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}
.header-logo {
  height: 100px;
}
.header-logo-link {
  @media screen and (max-width: 900px) {
    display: none;
  }
}
.header-nav {
  justify-self: end;
  @media screen and (max-width: 900px) {
    margin-inline: auto;
  }
}
.inactive-tab {
  background: -webkit-linear-gradient(#fdc500, #76c893);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font-size: clamp(1.8rem, 4vw, 3rem);
  padding: 0.4em clamp(0.8rem, 5vw, 1.4rem);
}
.active-tab {
  background: url(../assets/onglet.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: var(--dark-blue);
  text-decoration: none;
  font-size: clamp(1.8rem, 4vw, 3rem);
  padding: 0.4em clamp(0.8rem, 5vw, 1.4rem);
}

/*----------------------  Nav contact --------------------------------*/

.contact-nav {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-inline: auto;
  color: var(--dark-blue);
  padding-bottom: 120px;
  padding-top: 2rem;
  @media screen and (max-width: 900px) {
    width: 100%;
    justify-content: space-evenly;
  }
}
.icon-bubble {
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
  background: var(--yellow-green-gradient);
  padding: 10px;
  @media screen and (max-width: 900px) {
    padding: 5px;
  }
}
.icon-bubble a {
  display: block;
  height: clamp(50px, 5vw, 100px);
}
.icon-img {
  width: clamp(50px, 5vw, 100px);
  height: clamp(50px, 5vw, 100px);
}

/*---------------------- Welcome page --------------------------------*/

.profile-pic {
  width: 200px;
  margin: 5rem;
  @media screen and (max-width: 900px) {
    display: block;
    margin-inline: auto;
  }
}
.welcome-titles {
  max-width: 100ch;
}
.welcome-titles h1 {
  @media screen and (max-width: 900px) {
    margin: 0;
  }
}
.welcome-top-content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  @media screen and (max-width: 900px) {
    display: block;
    margin: 0 0.4rem;
    margin-bottom: 5rem;
  }
}

/*---------------------- Skills page --------------------------------*/

.skills-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  max-width: 80ch;
  row-gap: 2rem;
  @media screen and (max-width: 900px) {
    margin-top: 5rem;
  }
}
.skill-category {
  @media screen and (max-width: 900px) {
    flex: 0 0 50%;
  }
}
.skill-category p {
  color: var(--light-blue);
  @media screen and (max-width: 900px) {
    margin: 0;
  }
}

/* Skills update  */

.skills-update {
  width: 80%;
  max-width: 80ch;
  margin: 3rem auto 0 auto;
  @media screen and (max-width: 900px) {
    margin-top: 5rem;
  }
}
.skill-update {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  margin-inline: auto;
  @media screen and (max-width: 900px) {
    margin-bottom: 1rem;
    width: 95%;
  }
}
.skill-update-link {
  background: var(--yellow-green-gradient);
  border-radius: 10px;
  padding: 1rem;
  text-decoration: none;
  flex: 45%;
  @media screen and (max-width: 900px) {
    margin-bottom: 1rem;
    margin-top: 1.6rem;
    flex: 0 0 auto;
  }
}
.skill-update-infos {
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
  justify-content: flex-start;
  flex: 55%;
  padding-left: 3rem;
  @media screen and (max-width: 900px) {
    flex: 0 0 100%;
    padding-left: 0;
  }
}
.skill-update p {
  color: var(--light-blue);
  margin: 0;
}
.skill-update-link p {
  color: var(--dark-blue);
}

/*---------------------- Projects page --------------------------------*/
#projects h2 {
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 0;
  @media screen and (max-width: 900px) {
    margin-top: 3rem;
  }
}
.project-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.project-card h3 {
  font-size: clamp(3rem, 4vw, 4rem);
  margin-top: 2rem;
  margin-bottom: 0;
}
.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 200px;
}
.project-p-wrapper {
  width: 80%;
  margin-bottom: 5rem;
}
.project-p-wrapper p {
  text-align: left;
}
.project-bubble {
  position: relative;
  aspect-ratio: 1 / 1;
  max-width: 400px;
  border-radius: 50%;
  display: flex;
  overflow: hidden;
}
.bubble-border {
  border-radius: 50%;
  width: 80%;
  background: var(--yellow-green-gradient);
  padding: 10px;
  @media screen and (max-width: 900px) {
    padding: 5px;
  }
}
.project-bubble img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-bubble:hover p {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);
  font-size: 2.4rem;
}
.project-bubble p {
  text-decoration: none;
  color: var(--yellow);
}
.project-bubble:hover img {
  filter: brightness(30%);
}

/*---------------------- Contact page --------------------------------*/

#contact {
  min-height: 100vh;
}
#contact .very-big-title,
#contact h2 {
  margin: 0.6rem;
}
#contact .contact-paragraph {
  max-width: 60ch;
  margin-inline: auto;
  padding: 0 0.6rem;
}
.paragraph-wrapper {
  padding: 5rem 0;
  text-align: justify;
}
#contact .contact-nav {
  padding-bottom: calc(2rem + 100px);
}
.contact-top-content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 900px) {
    display: block;
    margin: 0 0.4rem;
  }
}

.copyright {
  font-size: 1.2rem;
  position: absolute;
  bottom: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  z-index: 100000;
  color: var(--dark-blue);
}
.paragraph-wrapper a {
  background: -webkit-linear-gradient(#fdc500, #76c893);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font-weight: bold;
}
.paragraph-wrapper h3 {
  text-align: center;
}
.paragraph-wrapper strong {
  color: var(--yellow);
  font-weight: normal;
  font-style: italic;
}
.paragraph-wrapper blockquote {
  max-width: 60ch;
  text-align: center;
  margin: 3rem auto;
}
.meme-img {
  max-width: 600px;
  margin-bottom: 5rem;
}
.meme-img img {
  width: 100%;
}
.contact-bot-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
/*---------------------- Waves --------------------------------*/

.waves-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}
.waves-footer-last {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 95px;
}
.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../assets/wave-blue.png);
  background-size: 1000px 100px;
  animation: animate 4s ease-in-out infinite;
  animation-delay: calc(var(--i) * 0.25s);
}

.wave1 {
  z-index: 1000;
  opacity: 1;
  background-position-x: 400px;
}
.wave2 {
  z-index: 999;
  opacity: 0.5;
  background-position-x: 300px;
}
.wave3 {
  z-index: 998;
  opacity: 0.2;
  background-position-x: 200px;
}
.wave4 {
  z-index: 997;
  opacity: 0.7;
  background-position-x: 100px;
}
@keyframes animate {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
}
